approval_policy = "on-request"
allow_login_shell = false

# Permissions / sandboxing
sandbox_mode = "workspace-write"

[sandbox_workspace_write]
writable_roots = [
  '{USERPROFILE}\Documents\Programming',
  '{LOCALAPPDATA}\Temp\opencode',
]
network_access = true

[windows]
sandbox = "elevated"

[mcp_servers.clickup]
url = "https://mcp.clickup.com/mcp"
enabled = true

[mcp_servers.notion]
url = "https://mcp.notion.com/mcp"
enabled = true

[mcp_servers.next-devtools]
command = "npx"
args = ["-y", "next-devtools-mcp@latest"]
enabled = true

[mcp_servers.chrome-devtools]
command = "npx"
args = ["-y", "chrome-devtools-mcp@latest", "--autoConnect"]
enabled = true

[mcp_servers.codebase-memory]
command = "codebase-memory-mcp"
enabled = true
